*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  font-family: system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
}

h1 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 3.5rem;
  color: #fff;
  text-shadow: 0 3px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 2.5rem;
  color: #fff;
}

h3 {
  font-size: 1.5rem;
  color: #ea6c56;
  font-weight: bold;
}

a {
  text-decoration: none;
}

button {
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}
button a {
  display: block;
  padding: 15px 40px;
  font-weight: bold;
}
button a i {
  margin-right: 15px;
}

.btn-red {
  transition: background-color 0.3s;
  background-color: #ea6c56;
  color: #fff;
}
.btn-red a {
  color: #fff;
}

.btn-red:hover {
  background-color: #43ca83;
}

.btn-white {
  transition: background-color 0.3s;
  background-color: #fff;
}
.btn-white a {
  color: #0e3655;
  transition: color 0.3s;
}

.btn-white:hover {
  background-color: #ea6c56;
}
.btn-white:hover a {
  color: #fff;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 75px;
  background-color: #0e3655;
}
header .header-social-media ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header .header-social-media li {
  float: left;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
header .header-social-media li a {
  transition: background-color 0.3s, color 0.3s;
  display: block;
  padding: 15px 20px;
  text-align: center;
  color: #cdcdcd;
}
header .header-social-media li a:hover {
  background-color: #cdcdcd;
  color: #0e3655;
}
header .header-contact-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
header .header-contact-section a {
  transition: color 0.3s;
  color: #fff;
}
header .header-contact-section a:hover {
  color: #43ca83;
}
header .header-contact-section i {
  margin-right: 5px;
  color: #43ca83;
}
header .header-contact-section .header-contact-item {
  margin-left: 75px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 75px;
  background-color: #fff;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
nav ul li a {
  margin: 0 15px;
  transition: color 0.3s;
  color: #424343;
  text-transform: uppercase;
  font-weight: bold;
}
nav ul li a:hover {
  color: #ea6c56;
}
nav ul li i {
  margin-left: 30px;
}
nav button a {
  padding: 10px 20px;
  font-size: 0.8rem;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px 50px 305px;
  background-image: url("../img/Hero_image.jpg");
  text-align: center;
}
.hero-section button {
  position: relative;
}
.hero-section button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 108%;
  height: 130%;
  border: 10px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.know-how-section {
  display: flex;
  justify-content: center;
  align-items: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
.know-how-section .know-how-card {
  flex: 1;
  padding: 0 20px;
  margin: 0 20px;
  text-align: center;
}
.know-how-section .know-how-card .know-how-header {
  margin-bottom: 20px;
}
.know-how-section .know-how-card .know-how-header .know-how-icon {
  margin-bottom: 20px;
  padding: 30px;
  color: #fff;
  font-size: 3rem;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.know-how-section .know-how-card .know-how-header .material-symbols-outlined {
  background-color: #fdc00f;
}
.know-how-section .know-how-card .know-how-header .fa-chart-column {
  background-color: #43ca83;
}
.know-how-section .know-how-card .know-how-header .fa-share-nodes {
  background-color: #4bafd2;
}
.know-how-section .know-how-card .know-how-header hr {
  display: inline-block;
  width: 30px;
  height: 5px;
  margin-top: 15px;
  background-color: #e4e4e4;
  border: none;
}
.know-how-section .know-how-card .know-how-text {
  color: #7f7fb1;
}

.promote-your-brand-section {
  background-image: url("/img/image_rocket.jpg");
  background-position: center;
  padding: 120px 50px 120px;
}
.promote-your-brand-section .promote-your-brand-content {
  max-width: 550px;
  margin-left: 100px;
}
.promote-your-brand-section .promote-your-brand-content p {
  color: #e4e4e4;
}
.promote-your-brand-section .promote-your-brand-content q {
  position: relative;
  display: block;
  padding: 30px 0 40px 90px;
  quotes: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}
.promote-your-brand-section .promote-your-brand-content q::before {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f10d"; /*quote left icon*/
}/*# sourceMappingURL=main.css.map */