*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  font-family: system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
}

h1 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 3.5rem;
  color: #fff;
  text-shadow: 0 3px rgba(0, 0, 0, 0.2);
}

h2 {
  position: relative;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 2.4rem;
  color: #424343;
}

h2::after {
  position: absolute;
  display: block;
  content: "";
  bottom: -20px;
  left: 0;
  height: 4px;
  width: 70px;
  background-color: #43ca83;
}

.h2-center::after {
  left: 50%;
  transform: translateX(-50%);
}

h3 {
  font-size: 1.5rem;
  color: #ea6c56;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  font-size: 1.8rem;
}

hr {
  display: block;
  width: 30px;
  height: 5px;
  margin: 15px auto 0;
  background-color: #e4e4e4;
  border: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}
button a {
  display: block;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 0.8rem;
}
button a i {
  margin-right: 15px;
}

.btn-red {
  transition: background-color 0.3s;
  background-color: #ea6c56;
  color: #fff;
}
.btn-red a {
  color: #fff;
}

.btn-red:hover {
  background-color: #43ca83;
}

.btn-white {
  transition: background-color 0.3s;
  background-color: #fff;
}
.btn-white a {
  color: #0e3655;
  transition: color 0.3s;
}

.btn-white:hover {
  background-color: #ea6c56;
  color: #fff;
}
.btn-white:hover a {
  color: #fff;
}

header {
  background-color: #0e3655;
}
header .header-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 5vw;
  font-size: 0.8rem;
}
header .header-wrapper .header-social-media ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
header .header-wrapper .header-social-media li {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
header .header-wrapper .header-social-media li a {
  display: block;
  width: 35px;
  height: 35px;
  transition: background-color 0.3s, color 0.3s;
  line-height: 35px;
  text-align: center;
  color: #cdcdcd;
}
header .header-wrapper .header-social-media li a:hover {
  background-color: #cdcdcd;
  color: #0e3655;
}
header .header-wrapper .header-contact-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
header .header-wrapper .header-contact-section a {
  transition: color 0.3s;
  color: #fff;
}
header .header-wrapper .header-contact-section a:hover {
  color: #43ca83;
}
header .header-wrapper .header-contact-section i {
  margin-right: 5px;
  color: #43ca83;
}
header .header-wrapper .header-contact-section .header-contact-item {
  margin-left: 50px;
}

nav .nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px 5vw;
  background-color: #fff;
  font-size: 0.8rem;
}
nav .nav-wrapper .nav-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
nav .nav-wrapper .nav-list li a {
  margin: 0 1vw;
  transition: color 0.3s;
  color: #424343;
  text-transform: uppercase;
  font-weight: bold;
}
nav .nav-wrapper .nav-list li a:hover {
  color: #ea6c56;
}
nav .nav-wrapper .nav-list li i {
  margin: 0 1.5vw;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 326px;
  background-image: url("../img/Hero_image.jpg");
  background-size: cover;
  text-align: center;
}
.hero-section button {
  position: relative;
  cursor: pointer;
}
.hero-section button::after {
  content: "";
  position: absolute;
  top: -9px;
  left: -12px;
  width: 111%;
  height: 140%;
  border: 10px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.know-how-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around;
  max-width: 1200px;
  margin: 0 auto;
}
.know-how-section .know-how-card {
  flex: 1 1 300px;
  padding: 25px 40px 25px;
  text-align: center;
}
.know-how-section .know-how-card .know-how-header {
  margin-bottom: 20px;
}
.know-how-section .know-how-card .know-how-header .know-how-icon {
  margin-bottom: 20px;
  padding: 30px;
  color: #fff;
  font-size: 3rem;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.know-how-section .know-how-card .know-how-header .material-symbols-outlined {
  background-color: #fdc00f;
}
.know-how-section .know-how-card .know-how-header .fa-chart-column {
  background-color: #43ca83;
}
.know-how-section .know-how-card .know-how-header .fa-share-nodes {
  background-color: #4bafd2;
}
.know-how-section .know-how-card .know-how-text {
  color: #7f7fb1;
}

.promote-your-brand-section {
  background-image: url("/img/image_rocket.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.promote-your-brand-section .promote-your-brand-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.promote-your-brand-section .promote-your-brand-container .promote-your-brand-content {
  max-width: 550px;
  margin-left: 100px;
}
.promote-your-brand-section .promote-your-brand-container .promote-your-brand-content h2 {
  position: relative;
  color: #fff;
  line-height: 1.1;
}
.promote-your-brand-section .promote-your-brand-container .promote-your-brand-content p {
  color: #e4e4e4;
}
.promote-your-brand-section .promote-your-brand-container .promote-your-brand-content q {
  position: relative;
  display: block;
  margin: 30px 0 40px 90px;
  quotes: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}
.promote-your-brand-section .promote-your-brand-container .promote-your-brand-content q::before {
  position: absolute;
  top: 0;
  left: -40px;
  font-family: "FontAwesome";
  content: "\f10d"; /*quote left icon*/
  font-size: 2.2rem;
  color: #fdc00f;
}

.why-people-choose-us-section {
  margin: 0 auto;
  text-align: center;
}
.why-people-choose-us-section .why-people-choose-us-card-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.why-people-choose-us-section .why-people-choose-us-card-container .why-people-choose-us-card {
  flex: 1 0 240px;
  padding: 30px 20px;
}
.why-people-choose-us-section .why-people-choose-us-card-container .why-people-choose-us-card i,
.why-people-choose-us-section .why-people-choose-us-card-container .why-people-choose-us-card h3 {
  font-size: 2.5rem;
}
.why-people-choose-us-section .why-people-choose-us-card-container .why-people-choose-us-card .fa-user-group {
  color: #fdc00f;
}
.why-people-choose-us-section .why-people-choose-us-card-container .why-people-choose-us-card .fa-chart-line {
  color: #ea6c56;
}
.why-people-choose-us-section .why-people-choose-us-card-container .why-people-choose-us-card .fa-chalkboard {
  color: #43ca83;
}
.why-people-choose-us-section .why-people-choose-us-card-container .why-people-choose-us-card .fa-circle-check {
  color: #4bafd2;
}
.why-people-choose-us-section .why-people-choose-us-card-container .why-people-choose-us-card h3 {
  margin-top: 10px;
  color: #424343;
}
.why-people-choose-us-section .why-people-choose-us-card-container .why-people-choose-us-card p {
  font-size: 1.3rem;
  color: #7f7f7f;
  font-weight: bold;
}
.why-people-choose-us-section .why-people-choose-us-card-container .why-people-choose-us-card hr {
  margin: 5px auto;
}

.our-team-section {
  background-color: #f7f8fb;
  text-align: center;
}
.our-team-section .our-team-card-section {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.our-team-section .our-team-card-section .our-team-card {
  flex: 1 1 300px;
  padding: 25px 40px 25px;
  text-align: center;
}
.our-team-section .our-team-card-section .our-team-card p {
  margin-top: 10px;
  color: #7f7f7f;
}
.our-team-section .our-team-card-section .our-team-card .our-team-img img {
  margin: 10px auto;
  border-radius: 50%;
  border: 10px solid #f7f8fb;
  box-shadow: 0 7px rgba(0, 0, 0, 0.1);
}
.our-team-section .our-team-card-section .our-team-card .our-team-text p {
  color: #424343;
}
.our-team-section button {
  margin-top: 20px;
}

.recent-cases-section {
  padding-bottom: 200px;
  padding-top: 200px;
  background: url("../img/recent-cases-img.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.recent-cases-section h2,
.recent-cases-section h3 {
  color: #fff;
}
.recent-cases-section p {
  color: #e4e4e4;
  font-weight: lighter;
}
.recent-cases-section .recent-cases-container {
  max-width: 600px;
  margin-left: 50vw;
}
.recent-cases-section .recent-cases-container .recent-cases-carousel {
  position: relative;
}
.recent-cases-section .recent-cases-container .recent-cases-carousel .carousel-inner {
  padding-left: 50px;
}
.recent-cases-section .recent-cases-container .recent-cases-carousel .carousel-indicators {
  position: absolute;
  right: auto;
  bottom: -70px;
  left: 0;
  margin: 0;
  padding: 0;
}
.recent-cases-section .recent-cases-container .recent-cases-carousel .carousel-indicators button {
  width: 12px;
  height: 12px;
  margin-right: 7px;
  margin-left: 7px;
  border-radius: 50%;
}
.recent-cases-section .recent-cases-container .recent-cases-carousel .recent-sections-card {
  position: relative;
  padding-top: 60px;
}
.recent-cases-section .recent-cases-container .recent-cases-carousel .recent-sections-card .shadow-number {
  position: absolute;
  top: 12px;
  left: -52px;
  font-size: 3.6rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.2);
}
.recent-cases-section .recent-cases-container .recent-cases-carousel .recent-sections-card .recent-cases-procentage-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.recent-cases-section .recent-cases-container .recent-cases-carousel .recent-sections-card .recent-cases-procentage-section .recent-cases-procentage {
  display: flex;
}
.recent-cases-section .recent-cases-container .recent-cases-carousel .recent-sections-card .recent-cases-procentage-section .recent-cases-procentage h4 {
  margin-bottom: 0;
}
.recent-cases-section .recent-cases-container .recent-cases-carousel .recent-sections-card .recent-cases-procentage-section .recent-cases-procentage .expenses {
  margin-right: 50px;
  color: #ea6c56;
}
.recent-cases-section .recent-cases-container .recent-cases-carousel .recent-sections-card .recent-cases-procentage-section .recent-cases-procentage .profit {
  margin-right: 50px;
  color: #43ca83;
}

.testimonials-section h2 {
  text-align: center;
}
.testimonials-section button {
  display: block;
  margin: 40px auto 10px;
}
.testimonials-section .testimonials-card-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}
.testimonials-section .testimonials-card-section .testimonials-card {
  flex: 1 1 300px;
  max-width: 370px;
  margin: 0 15px;
}
.testimonials-section .testimonials-card-section .testimonials-card blockquote {
  position: relative;
  margin: 25px auto;
  padding: 70px 30px 40px;
  background-color: #43ca83;
  color: #fff;
  border-radius: 5px;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);
}
.testimonials-section .testimonials-card-section .testimonials-card blockquote q {
  position: relative;
  display: block;
  quotes: none;
  font-size: 1rem;
}
.testimonials-section .testimonials-card-section .testimonials-card blockquote q::before {
  position: absolute;
  top: -55px;
  left: 0;
  font-family: "FontAwesome";
  content: "\f10d"; /*quote left icon*/
  font-size: 2.2rem;
  color: #fff;
}
.testimonials-section .testimonials-card-section .testimonials-card blockquote::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  bottom: -9px;
  left: 25px;
  transform: rotate(45deg);
  background-color: #43ca83;
  box-shadow: inset -5px -5px 0 0 rgba(0, 0, 0, 0.2);
}
.testimonials-section .testimonials-card-section .testimonials-card .testimonials-card-img {
  display: flex;
}
.testimonials-section .testimonials-card-section .testimonials-card .testimonials-card-img p {
  font-size: 1.3rem;
  font-style: italic;
  color: rgba(66, 67, 67, 0.7);
}
.testimonials-section .testimonials-card-section .testimonials-card img {
  margin-right: 20px;
  border-radius: 50%;
}

.our-clients-section {
  background-color: #f7f8fb;
  text-align: center;
}
.our-clients-section .our-clients-cards {
  max-width: 1200px;
  margin: 0 auto;
}
.our-clients-section .our-clients-cards img {
  width: 15vw;
  max-width: 180px;
  transition: filter 0.3s, transform 0.3s;
  background-size: contain;
  background-position: center;
  margin: 0 20px;
}
.our-clients-section .our-clients-cards img:hover {
  color: #43ca83;
  filter: contrast(3);
}

.perfect-soultions-section {
  background-image: url("../img/perfect-solutions-img.jpg");
  background-position: center;
  background-size: cover;
}
.perfect-soultions-section h2,
.perfect-soultions-section p {
  padding: 20px 0;
  color: #fff;
}
.perfect-soultions-section h2::after {
  background-color: #fdc00f;
}
.perfect-soultions-section .perfect-solution-container {
  max-width: 1200px;
  margin: 0 auto;
}
.perfect-soultions-section .perfect-solutions-content {
  max-width: 600px;
}

footer {
  padding: 100px 30px;
  background-color: #f7f8fb;
}
footer .footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 50px 125px;
}
footer .footer-container .footer-section {
  flex: 0 0 25%;
  max-width: 25%;
}
footer .footer-container .footer-section img {
  margin-bottom: 20px;
}
footer .footer-container .footer-section h2 {
  font-size: 1.4rem;
  margin-bottom: 30px;
}
footer .footer-container .footer-section h2::after {
  width: 100%;
  height: 2px;
  bottom: -15px;
}
footer .footer-container .footer-section p {
  color: rgba(66, 67, 67, 0.7);
}
footer .footer-container .contact-us-footer div {
  margin-bottom: 10px;
}
footer .footer-container .contact-us-footer i {
  margin-right: 5px;
  color: #43ca83;
}
footer .footer-container .contact-us-footer a {
  color: rgba(66, 67, 67, 0.7);
}
footer .footer-container .footer-newsletter-section {
  flex: 0 0 33%;
  max-width: 33%;
}
footer .footer-container .footer-newsletter-section .footer-newsletter {
  flex-flow: row nowrap;
  align-items: stretch;
}
footer .footer-container .footer-newsletter-section .footer-newsletter input {
  display: inline-block;
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 1px solid #e4e4e4;
  outline: none;
}
footer .footer-container .footer-newsletter-section .footer-newsletter input:invalid {
  border-color: #ea6c56;
}
footer .footer-container .footer-newsletter-section .footer-newsletter button a {
  padding: 8px 20px;
  font-size: 1rem;
}

@media screen and (max-width: 1200px) {
  nav img {
    width: 80%;
  }
  nav .nav-wrapper {
    padding: 15px 2vw;
    font-size: 0.6rem;
  }
  nav .nav-wrapper ul {
    padding-left: 0;
  }
  nav .nav-wrapper button a {
    padding: 8px 10px;
    font-size: 0.6rem;
  }
  nav .nav-wrapper button a i {
    margin-right: 5px;
  }
  header .header-wrapper {
    padding: 0 2vw;
  }
  header .header-wrapper .header-contact-section .header-contact-item {
    margin-left: 20px;
  }
  .recent-cases-section {
    padding: 150px 20px;
  }
}/*# sourceMappingURL=main.css.map */