*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  font-family: system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
}

h1 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 3.5rem;
  color: #fff;
  text-shadow: 0 3px rgba(0, 0, 0, 0.2);
}

h2 {
  position: relative;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 2.4rem;
  color: #424343;
}

h2::after {
  position: absolute;
  display: block;
  content: "";
  bottom: -20px;
  left: 0;
  height: 4px;
  width: 70px;
  background-color: #43ca83;
}

.h2-center::after {
  left: 50%;
  transform: translateX(-50%);
}

h3 {
  font-size: 1.5rem;
  color: #ea6c56;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  font-size: 1.8rem;
}

hr {
  display: block;
  width: 30px;
  height: 5px;
  margin: 15px auto 0;
  background-color: #e4e4e4;
  border: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}
button a {
  display: block;
  padding: 15px 40px;
  font-weight: bold;
}
button a i {
  margin-right: 15px;
}

.btn-red {
  transition: background-color 0.3s;
  background-color: #ea6c56;
  color: #fff;
}
.btn-red a {
  color: #fff;
}

.btn-red:hover {
  background-color: #43ca83;
}

.btn-white {
  transition: background-color 0.3s;
  background-color: #fff;
}
.btn-white a {
  color: #0e3655;
  transition: color 0.3s;
}

.btn-white:hover {
  background-color: #ea6c56;
}
.btn-white:hover a {
  color: #fff;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 75px;
  background-color: #0e3655;
}
header .header-social-media ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header .header-social-media li {
  float: left;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
header .header-social-media li a {
  transition: background-color 0.3s, color 0.3s;
  display: block;
  padding: 15px 20px;
  text-align: center;
  color: #cdcdcd;
}
header .header-social-media li a:hover {
  background-color: #cdcdcd;
  color: #0e3655;
}
header .header-contact-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
header .header-contact-section a {
  transition: color 0.3s;
  color: #fff;
}
header .header-contact-section a:hover {
  color: #43ca83;
}
header .header-contact-section i {
  margin-right: 5px;
  color: #43ca83;
}
header .header-contact-section .header-contact-item {
  margin-left: 75px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 75px;
  background-color: #fff;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
nav ul li a {
  margin: 0 15px;
  transition: color 0.3s;
  color: #424343;
  text-transform: uppercase;
  font-weight: bold;
}
nav ul li a:hover {
  color: #ea6c56;
}
nav ul li i {
  margin-left: 30px;
}
nav button a {
  padding: 10px 20px;
  font-size: 0.8rem;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 326px;
  background-image: url("../img/Hero_image.jpg");
  background-size: cover;
  text-align: center;
}
.hero-section button {
  position: relative;
  cursor: pointer;
}
.hero-section button::after {
  content: "";
  position: absolute;
  top: -8px;
  left: -10px;
  width: 108%;
  height: 130%;
  border: 10px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.know-how-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around;
  max-width: 1200px;
  margin: 0 auto;
}
.know-how-section .know-how-card {
  flex: 1 1 300px;
  padding: 25px 40px 25px;
  text-align: center;
}
.know-how-section .know-how-card .know-how-header {
  margin-bottom: 20px;
}
.know-how-section .know-how-card .know-how-header .know-how-icon {
  margin-bottom: 20px;
  padding: 30px;
  color: #fff;
  font-size: 3rem;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.know-how-section .know-how-card .know-how-header .material-symbols-outlined {
  background-color: #fdc00f;
}
.know-how-section .know-how-card .know-how-header .fa-chart-column {
  background-color: #43ca83;
}
.know-how-section .know-how-card .know-how-header .fa-share-nodes {
  background-color: #4bafd2;
}
.know-how-section .know-how-card .know-how-text {
  color: #7f7fb1;
}

.promote-your-brand-section {
  background-image: url("/img/image_rocket.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.promote-your-brand-section .promote-your-brand-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.promote-your-brand-section .promote-your-brand-container .promote-your-brand-content {
  max-width: 550px;
  margin-left: 100px;
}
.promote-your-brand-section .promote-your-brand-container .promote-your-brand-content h2 {
  position: relative;
  color: #fff;
  line-height: 1.1;
}
.promote-your-brand-section .promote-your-brand-container .promote-your-brand-content p {
  color: #e4e4e4;
}
.promote-your-brand-section .promote-your-brand-container .promote-your-brand-content q {
  position: relative;
  display: block;
  margin: 30px 0 40px 90px;
  quotes: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}
.promote-your-brand-section .promote-your-brand-container .promote-your-brand-content q::before {
  position: absolute;
  top: 0;
  left: -40px;
  font-family: "FontAwesome";
  content: "\f10d"; /*quote left icon*/
  font-size: 2.2rem;
  color: #fdc00f;
}

.why-people-choose-us-section {
  margin: 0 auto;
  text-align: center;
}
.why-people-choose-us-section .why-people-choose-us-card-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.why-people-choose-us-section .why-people-choose-us-card-container .why-people-choose-us-card {
  flex: 1 0 240px;
  padding: 30px 20px;
}
.why-people-choose-us-section .why-people-choose-us-card-container .why-people-choose-us-card i,
.why-people-choose-us-section .why-people-choose-us-card-container .why-people-choose-us-card h3 {
  font-size: 2.5rem;
}
.why-people-choose-us-section .why-people-choose-us-card-container .why-people-choose-us-card .fa-user-group {
  color: #fdc00f;
}
.why-people-choose-us-section .why-people-choose-us-card-container .why-people-choose-us-card .fa-chart-line {
  color: #ea6c56;
}
.why-people-choose-us-section .why-people-choose-us-card-container .why-people-choose-us-card .fa-chalkboard {
  color: #43ca83;
}
.why-people-choose-us-section .why-people-choose-us-card-container .why-people-choose-us-card .fa-circle-check {
  color: #4bafd2;
}
.why-people-choose-us-section .why-people-choose-us-card-container .why-people-choose-us-card h3 {
  margin-top: 10px;
  color: #424343;
}
.why-people-choose-us-section .why-people-choose-us-card-container .why-people-choose-us-card p {
  font-size: 1.3rem;
  color: #7f7f7f;
  font-weight: bold;
}
.why-people-choose-us-section .why-people-choose-us-card-container .why-people-choose-us-card hr {
  margin: 5px auto;
}

.our-team-section {
  background-color: #f7f8fb;
  text-align: center;
}
.our-team-section .our-team-card-section {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.our-team-section .our-team-card-section .our-team-card {
  flex: 1 1 300px;
  padding: 25px 40px 25px;
  text-align: center;
}
.our-team-section .our-team-card-section .our-team-card p {
  margin-top: 10px;
  color: #7f7f7f;
}
.our-team-section .our-team-card-section .our-team-card .our-team-img img {
  margin: 10px auto;
  border-radius: 50%;
  border: 10px solid #f7f8fb;
  box-shadow: 0 7px rgba(0, 0, 0, 0.1);
}
.our-team-section .our-team-card-section .our-team-card .our-team-text p {
  color: #424343;
}
.our-team-section button {
  margin-top: 20px;
}

.recent-cases-section {
  padding-bottom: 200px;
  padding-top: 200px;
  background: url("../img/recent-cases-img.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.recent-cases-section h2,
.recent-cases-section h3 {
  color: #fff;
}
.recent-cases-section p {
  color: #e4e4e4;
  font-weight: lighter;
}
.recent-cases-section .recent-cases-container {
  max-width: 600px;
  margin-left: 50vw;
}
.recent-cases-section .recent-cases-container .recent-cases-carousel {
  position: relative;
}
.recent-cases-section .recent-cases-container .recent-cases-carousel .carousel-inner {
  padding-left: 50px;
}
.recent-cases-section .recent-cases-container .recent-cases-carousel .carousel-indicators {
  position: absolute;
  right: auto;
  bottom: -70px;
  left: 0;
  margin: 0;
  padding: 0;
}
.recent-cases-section .recent-cases-container .recent-cases-carousel .carousel-indicators button {
  width: 12px;
  height: 12px;
  margin-right: 7px;
  margin-left: 7px;
  border-radius: 50%;
}
.recent-cases-section .recent-cases-container .recent-cases-carousel .recent-sections-card {
  position: relative;
  padding-top: 75px;
}
.recent-cases-section .recent-cases-container .recent-cases-carousel .recent-sections-card .shadow-number {
  position: absolute;
  top: 22px;
  left: -53px;
  font-size: 4rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.2);
}
.recent-cases-section .recent-cases-container .recent-cases-carousel .recent-sections-card .recent-cases-procentage-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.recent-cases-section .recent-cases-container .recent-cases-carousel .recent-sections-card .recent-cases-procentage-section .recent-cases-procentage {
  display: flex;
}
.recent-cases-section .recent-cases-container .recent-cases-carousel .recent-sections-card .recent-cases-procentage-section .recent-cases-procentage h4 {
  margin-bottom: 0;
}
.recent-cases-section .recent-cases-container .recent-cases-carousel .recent-sections-card .recent-cases-procentage-section .recent-cases-procentage .expenses {
  margin-right: 50px;
  color: #ea6c56;
}
.recent-cases-section .recent-cases-container .recent-cases-carousel .recent-sections-card .recent-cases-procentage-section .recent-cases-procentage .profit {
  margin-right: 50px;
  color: #43ca83;
}/*# sourceMappingURL=main.css.map */