@import 'colors';

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

body {
	position: relative;
	font-family: system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
}

// STYLES OF BASIC TAGS
h1 {
	margin-bottom: 50px;
	font-weight: bold;
	font-size: 3.5rem;
	color: $white;
	text-shadow: 0 3px rgba(#000000, 0.2);
}
h2 {
	position: relative;
	margin-bottom: 50px;
	font-weight: bold;
	font-size: 2.4rem;
	color: $dark-grey;
}

h2::after {
	position: absolute;
	display: block;
	content: '';
	bottom: -20px;
	left: 0;
	height: 4px;
	width: 70px;
	background-color: $green;
}

.h2-center::after {
	left: 50%;
	transform: translateX(-50%);
}

h3 {
	font-size: 1.5rem;
	color: $red-tomato;
	font-weight: bold;
}
h4 {
	font-weight: bold;
	font-size: 1.8rem;
}
hr {
	display: block;
	width: 30px;
	height: 5px;
	margin: 15px auto 0;
	background-color: $light-grey;
	border: none;
}
a {
	text-decoration: none;
	cursor: pointer;
}

button {
	box-shadow: inset 0 -5px 0 0 rgba(#000000, 0.2);
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	a {
		display: block;
		padding: 15px 40px;
		font-weight: bold;

		i {
			margin-right: 15px;
		}
	}
}
.btn-red {
	transition: background-color 0.3s;
	background-color: $red-tomato;
	color: $white;

	a {
		color: $white;
	}
}
.btn-red:hover {
	background-color: $green;
}

.btn-white {
	transition: background-color 0.3s;
	background-color: $white;

	a {
		color: $navy;
		transition: color 0.3s;
	}
}
.btn-white:hover {
	background-color: $red-tomato;
	a {
		color: #fff;
	}
}
// Styles of header
header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 75px;
	background-color: $navy;
	.header-social-media {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			float: left;
			border: 1px solid rgba($color: #ffffff, $alpha: 0.2);
			a {
				transition: background-color 0.3s, color 0.3s;
				display: block;
				padding: 15px 20px;
				text-align: center;
				color: $grey;
			}

			a:hover {
				background-color: $grey;
				color: $navy;
			}
		}
	}

	.header-contact-section {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;

		a {
			transition: color 0.3s;
			color: $white;
		}

		a:hover {
			color: $green;
		}

		i {
			margin-right: 5px;
			color: $green;
		}

		.header-contact-item {
			margin-left: 75px;
		}
	}
}

// STYLES OF NAVIGATION

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 75px;
	background-color: $white;

	ul {
		display: flex;
		justify-content: center;
		list-style-type: none;

		li {
			a {
				margin: 0 15px;
				transition: color 0.3s;
				color: $dark-grey;
				text-transform: uppercase;
				font-weight: bold;
			}

			a:hover {
				color: $red-tomato;
			}

			i {
				margin-left: 30px;
			}
		}
	}

	button {
		a {
			padding: 10px 20px;
			font-size: 0.8rem;
		}
	}
}

section {
	padding-top: 100px;
	padding-bottom: 100px;
}
// STYLES HERO-SECTION
.hero-section {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 326px;
	background-image: url('../img/Hero_image.jpg');
	background-size: cover;
	text-align: center;

	button {
		position: relative;
		cursor: pointer;
	}
	button::after {
		content: '';
		position: absolute;
		top: -8px;
		left: -10px;
		width: 108%;
		height: 130%;
		border: 10px solid rgba(#000000, 0.2);
		border-radius: 15px;
	}
}
// STYLES OF KNOW-HOW SECTION
.know-how-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: space-around;
	max-width: 1200px;
	margin: 0 auto;

	.know-how-card {
		flex: 1 1 300px;
		padding: 25px 40px 25px;
		text-align: center;

		.know-how-header {
			margin-bottom: 20px;

			.know-how-icon {
				margin-bottom: 20px;
				padding: 30px;
				color: $white;
				font-size: 3rem;
				box-shadow: inset 0 -5px 0 0 rgba(#000000, 0.2);
				border-radius: 50%;
			}

			.material-symbols-outlined {
				background-color: $gold;
			}
			.fa-chart-column {
				background-color: $green;
			}
			.fa-share-nodes {
				background-color: $light-blue;
			}
		}

		.know-how-text {
			color: #7f7fb1;
		}
	}
}
// STYLES OF PROMOTE YOUR BRAND SECTION
.promote-your-brand-section {
	background-image: url('/img/image_rocket.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.promote-your-brand-container {
		display: flex;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		.promote-your-brand-content {
			max-width: 550px;
			margin-left: 100px;
			h2 {
				position: relative;
				color: $white;
				line-height: 1.1;
			}

			p {
				color: $light-grey;
			}

			q {
				position: relative;
				display: block;
				margin: 30px 0 40px 90px;
				quotes: none;
				color: $white;
				font-weight: bold;
				font-size: 1.5rem;
			}

			q::before {
				position: absolute;
				top: 0;
				left: -40px;
				font-family: 'FontAwesome';
				content: '\f10d'; /*quote left icon*/
				font-size: 2.2rem;
				color: $gold;
			}
		}
	}
}
// STYLES OF WHY PEOPLE CHOOSE US
.why-people-choose-us-section {
	margin: 0 auto;
	text-align: center;
	.why-people-choose-us-card-container {
		display: flex;
		max-width: 1200px;
		margin: 0 auto;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;

		.why-people-choose-us-card {
			flex: 1 0 240px;
			padding: 30px 20px;

			i,
			h3 {
				font-size: 2.5rem;
			}
			.fa-user-group {
				color: $gold;
			}
			.fa-chart-line {
				color: $red-tomato;
			}
			.fa-chalkboard {
				color: $green;
			}
			.fa-circle-check {
				color: $light-blue;
			}
			h3 {
				margin-top: 10px;
				color: $dark-grey;
			}

			p {
				font-size: 1.3rem;
				color: #7f7f7f;
				font-weight: bold;
			}

			hr {
				margin: 5px auto;
			}
		}
	}
}
//STYLES OF OUR TEAM SECTION
.our-team-section {
	background-color: #f7f8fb;
	text-align: center;
	.our-team-card-section {
		display: flex;
		flex-flow: row wrap;
		max-width: 1200px;
		margin: 0 auto;

		.our-team-card {
			flex: 1 1 300px;
			padding: 25px 40px 25px;
			text-align: center;
			p {
				margin-top: 10px;
				color: #7f7f7f;
			}
			.our-team-img {
				img {
					margin: 10px auto;
					border-radius: 50%;
					border: 10px solid #f7f8fb;
					box-shadow: 0 7px rgba(#000000, 0.1);
				}
			}
			.our-team-text {
				p {
					color: $dark-grey;
				}
			}
		}
	}
	button {
		margin-top: 20px;
	}
}
//STYLES OF RECENT CASES SECTION
.recent-cases-section {
	// position: relative;
	padding-bottom: 200px;
	padding-top: 200px;
	background: url('../img/recent-cases-img.jpg');
	background-size: cover;
	background-position: center;
	overflow: hidden;

	h2,
	h3 {
		color: $white;
	}

	p {
		color: $light-grey;
		font-weight: lighter;
	}
	.recent-cases-container {
		max-width: 600px;
		margin-left: 50vw;
		.recent-cases-carousel {
			position: relative;
			.carousel-inner {
				padding-left: 50px;
			}
			.carousel-indicators {
				position: absolute;
				right: auto;
				bottom: -70px;
				left: 0;
				margin: 0;
				padding: 0;

				button {
					width: 12px;
					height: 12px;
					margin-right: 7px;
					margin-left: 7px;
					border-radius: 50%;
				}
			}
			.recent-sections-card {
				position: relative;
				padding-top: 75px;
				.shadow-number {
					position: absolute;
					top: 22px;
					left: -53px;
					font-size: 4rem;
					font-weight: bold;
					color: rgba(#fff, 0.2);
				}

				.recent-cases-procentage-section {
					display: flex;
					flex-flow: row wrap;
					justify-content: space-between;
					align-items: center;

					.recent-cases-procentage {
						display: flex;
						h4 {
							margin-bottom: 0;
						}
						.expenses {
							margin-right: 50px;
							color: $red-tomato;
						}
						.profit {
							margin-right: 50px;
							color: $green;
						}
					}
				}
			}
		}
	}
}
//STYLES OF TESTIMONIALS SECTION

.testimonials-section {
	background-color: #f7f8fb;
	h2 {
		text-align: center;
	}

	.testimonials-card-section {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		max-width: 1200px;
		margin: 0 auto;

		button {
			margin: 40px auto;
		}

		.testimonials-card {
			flex: 1 1 280px;
			max-width: 370px;
			margin: 0 15px;

			blockquote {
				position: relative;
				margin: 25px auto;
				padding: 70px 30px 40px;
				background-color: $green;
				color: $white;
				border-radius: 5px;
				box-shadow: inset 0 -5px 0 0 rgba(#000000, 0.2);

				q {
					position: relative;
					display: block;
					quotes: none;
					font-size: 1rem;
				}

				q::before {
					position: absolute;
					top: -55px;
					left: 0;
					font-family: 'FontAwesome';
					content: '\f10d'; /*quote left icon*/
					font-size: 2.2rem;
					color: $white;
				}
			}
			blockquote::before {
				position: absolute;
				content: '';
				width: 20px;
				height: 20px;
				bottom: -9px;
				left: 25px;
				transform: rotate(45deg);
				background-color: $green;
				box-shadow: inset -5px -5px 0 0 rgba(#000000, 0.2);
			}

			.testimonials-card-img {
				display: flex;

				p {
					font-size: 1.3rem;
					font-style: italic;
					color: rgba($dark-grey, 0.7);
				}
			}
			img {
				margin-right: 20px;
				border-radius: 50%;
			}
		}
	}
}
