@import 'colors';

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

body {
	position: relative;
	font-family: system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
}

// STYLES OF BASIC TAGS
h1 {
	margin-bottom: 50px;
	font-weight: bold;
	font-size: 3.5rem;
	color: $white;
	text-shadow: 0 3px rgba(#000000, 0.2);
}
h2 {
	margin-bottom: 50px;
	font-weight: bold;
	font-size: 2.4rem;
	color: $white;
}

h2::after {
	position: absolute;
	display: block;
	content: '';
	bottom: -20px;
	left: 0;
	height: 4px;
	width: 70px;
	background-color: $green;
}

h3 {
	font-size: 1.5rem;
	color: $red-tomato;
	font-weight: bold;
}
a {
	text-decoration: none;
}

button {
	box-shadow: inset 0 -5px 0 0 rgba(#000000, 0.2);
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	a {
		display: block;
		padding: 15px 40px;
		font-weight: bold;

		i {
			margin-right: 15px;
		}
	}
}
.btn-red {
	transition: background-color 0.3s;
	background-color: $red-tomato;
	color: $white;

	a {
		color: $white;
	}
}
.btn-red:hover {
	background-color: $green;
}

.btn-white {
	transition: background-color 0.3s;
	background-color: $white;

	a {
		color: $navy;
		transition: color 0.3s;
	}
}
.btn-white:hover {
	background-color: $red-tomato;
	a {
		color: #fff;
	}
}
// Styles of header
header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 75px;
	background-color: $navy;
	.header-social-media {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			float: left;
			border: 1px solid rgba($color: #ffffff, $alpha: 0.2);
			a {
				transition: background-color 0.3s, color 0.3s;
				display: block;
				padding: 15px 20px;
				text-align: center;
				color: $grey;
			}

			a:hover {
				background-color: $grey;
				color: $navy;
			}
		}
	}

	.header-contact-section {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;

		a {
			transition: color 0.3s;
			color: $white;
		}

		a:hover {
			color: $green;
		}

		i {
			margin-right: 5px;
			color: $green;
		}

		.header-contact-item {
			margin-left: 75px;
		}
	}
}

// STYLES OF NAVIGATION

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 75px;
	background-color: $white;

	ul {
		display: flex;
		justify-content: center;
		list-style-type: none;

		li {
			a {
				margin: 0 15px;
				transition: color 0.3s;
				color: $dark-grey;
				text-transform: uppercase;
				font-weight: bold;
			}

			a:hover {
				color: $red-tomato;
			}

			i {
				margin-left: 30px;
			}
		}
	}

	button {
		a {
			padding: 10px 20px;
			font-size: 0.8rem;
		}
	}
}
// STYLES HERO-SECTION
.hero-section {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 75px 50px 305px;
	background-image: url('../img/Hero_image.jpg');
	text-align: center;

	button {
		position: relative;
	}
	button::after {
		content: '';
		position: absolute;
		top: -10px;
		left: -10px;
		width: 108%;
		height: 130%;
		border: 10px solid rgba(#000000, 0.2);
		border-radius: 15px;
	}
}
// STYLES OF KNOW-HOW SECTION
.know-how-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: space-around;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0 60px;

	.know-how-card {
		flex: 1;
		padding: 0 40px 50px;
		min-width: 250px;
		text-align: center;

		.know-how-header {
			margin-bottom: 20px;

			.know-how-icon {
				margin-bottom: 20px;
				padding: 30px;
				color: $white;
				font-size: 3rem;
				box-shadow: inset 0 -5px 0 0 rgba(#000000, 0.2);
				border-radius: 50%;
			}

			.material-symbols-outlined {
				background-color: $gold;
			}
			.fa-chart-column {
				background-color: $green;
			}
			.fa-share-nodes {
				background-color: $light-blue;
			}

			hr {
				display: inline-block;
				width: 30px;
				height: 5px;
				margin-top: 15px;
				background-color: $light-grey;
				border: none;
			}
		}

		.know-how-text {
			color: #7f7fb1;
		}
	}
}
// STYLES OF PROMOTE YOUR BRAND SECTION
.promote-your-brand-section {
	padding: 120px 50px 120px;
	background-image: url('/img/image_rocket.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.promote-your-brand-container {
		display: flex;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		.promote-your-brand-content {
			max-width: 550px;
			margin-left: 100px;
			h2 {
				position: relative;
				line-height: 1.1;
			}

			p {
				color: $light-grey;
			}

			q {
				position: relative;
				display: block;
				margin: 30px 0 40px 90px;
				quotes: none;
				color: $white;
				font-weight: bold;
				font-size: 1.5rem;
			}

			q::before {
				position: absolute;
				top: 0;
				left: -40px;
				font-family: 'FontAwesome';
				content: '\f10d'; /*quote left icon*/
				font-size: 2.2rem;
				color: $gold;
			}
		}
	}
}
